[package]
name = "procfile-buildpack"
version = "0.1.0"
edition = "2021"
rust-version = "1.57"

[dependencies]
indoc = "1.0.4"
libcnb = "0.5.0"
libherokubuildpack = "0.5.0"
linked-hash-map = "0.5.4"
regex = "1.5.4"
thiserror = "1.0.30"

[dev-dependencies]
libcnb-test = "0.1.1"
tempfile = "3.3.0"
ureq = "2.4.0"
