[package]
name = "procfile-buildpack"
# The crate is not published, so the only version that is used is the one in buildpack.toml.
version = "0.0.0"
publish = false
edition = "2021"
rust-version = "1.66"

[dependencies]
indoc = "2"
libcnb = "0.14"
libherokubuildpack = { version = "0.14", default-features = false, features = ["error", "log"] }
linked-hash-map = "0.5"
regex = "1"

[dev-dependencies]
libcnb-test = "0.14"
